body, html {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff3cd;
}


.navbar, .footer {
    background-color: #ffc107;
    color: white;
}


.btn-primary {
    background-color: #ffca2c;
    border-color: #ffca2c;
}

.btn-primary:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-secondary {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #333;
}

.btn-secondary:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.table {
    border-collapse: collapse;
}

.table thead {
    background-color: #ffc107;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff9e6; 
}

.table-hover tbody tr:hover {
    background-color: #ffefc3;
}


.card {
    border: 1px solid #ffefc3;
    background-color: #fff9e6;
}

.card .card-title {
    color: #d39e00;
}

.card-body {
    color: #666;
}
