{% extends "layout.html" %}


{% block content %}
<div class="container mt-4">
   <h2>Add New Discount</h2>
   <form method="POST" action="/add_discount">
       <div class="mb-3">
           <label for="restaurant_name" class="form-label">Restaurant Name</label>
           <select class="form-control" id="restaurant_name" name="restaurant_name" required>
               {% for restaurant in restaurants %}
               <option value="{{ restaurant[1] }}">{{ restaurant[1]}}</option>
               {% endfor %}
           </select>
       </div>
       <div class="mb-3">
           <label for="description" class="form-label">Description</label>
           <input type="text" class="form-control" id="description" name="description" required>
       </div>
       <div class="mb-3">
           <label for="start_date" class="form-label">Start Date</label>
           <input type="date" class="form-control" id="start_date" name="start_date" required>
       </div>
       <div class="mb-3">
           <label for="end_date" class="form-label">End Date</label>
           <input type="date" class="form-control" id="end_date" name="end_date" required>
       </div>
       <button type="submit" class="btn btn-primary">Add Discount</button>
   </form>
</div>
{% endblock %}
