{% extends "layout.html" %}

{% block title %}
Restaurants Map
{% endblock %}

{% block content %}
<h1>Helsinki Restaurants Map</h1>
<select id="categoryFilter" onchange="filterRestaurants()">
    <option value="">All Categories</option>
    {% for category in categories %}
    <option value="{{ category[0] }}">{{ category[1] }}</option>
    {% endfor %}
</select>
<div id="map" style="height: 600px; width: 100%;"></div>
<script>
        var map = L.map('map').setView([60.1699, 24.9384], 12); 

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var restaurants = {{ restaurants|tojson|safe }};
        var markers = [];

        function filterRestaurants() {
            var selectedCategory = document.getElementById('categoryFilter').value;
            markers.forEach(marker => map.removeLayer(marker)); 
            markers = [];
            restaurants.forEach(function(restaurant) {
                if (restaurant[7] == selectedCategory || selectedCategory === '') { 
                    var marker = L.marker([parseFloat(restaurant[4]), parseFloat(restaurant[5])]).addTo(map); 
                    marker.bindPopup("<b>" + restaurant[1] + "</b><br>" + restaurant[2] +
                        "<br><a href='/restaurant/" + restaurant[0] + "'>More Info</a>");
                    markers.push(marker);
                }
            });

        }

        filterRestaurants();
</script>
{% endblock %}

