<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="/register">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="role">Role:</label>
        <select name="role" id="role">
        <option value="1">Regular User</option>
        <option value="0">Administrator</option>
        </select>

        <button type="submit">Register</button>
    </form>
</body>
</html>