{% extends "layout.html" %}

{% block title %}
{{ restaurant.name }}
{% endblock %}

{% block content %}
<h1>{{ restaurant.name }}</h1>
<p>{{ restaurant.description }}</p>
<p>Address: {{ restaurant.address }}</p>
<p>Opening hours: {{ restaurant.opening_hours }}</p>
{% if session.username %}
<h2>Add Comment</h2>
<form action="{{ url_for('add_review', restaurant_id=restaurant.restaurant_id) }}" method="post">
    Rating: <input type="number" name="rating" min="1" max="5" required>
    Comment: <textarea name="comment" required></textarea>
    <button type="submit">Submit</button>
</form>
{% endif %}

<h2>Comments</h2>
<div>
    {% for review in reviews %}
    <div>
        <strong>{{ review.user_name }}</strong> rates: {{ review.rating }}
        <p>{{ review.comment }}</p>
        <p>Time: {{ review.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
        {% if session.role == 0 %} 
            <form action="{{ url_for('delete_review', review_id=review.review_id) }}" method="post">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this comment?');">Delete Comment</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
</div>

<a href="/restaurants">Back to the map</a>
{% endblock %}
